<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shopapp">

    <application
        android:name="com.shopapp.ShopApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.shopapp.ui.splash.SplashActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.shopapp.ui.home.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.shopapp.ui.product.ProductDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.account.SignInActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.account.SignUpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.gallery.GalleryActivity"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name="com.shopapp.ui.blog.ArticleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.policy.PolicyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.product.ProductListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.category.CategoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.blog.BlogActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.cart.CartActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.account.ForgotPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.order.list.OrderListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.order.details.OrderDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.account.PersonalInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.account.ChangePasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.account.AccountSettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.order.success.OrderSuccessActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.address.account.AddressListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.address.account.AddressActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.base.browser.BrowserActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.checkout.CheckoutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.address.checkout.CheckoutAddressListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.address.checkout.CheckoutAddressActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.address.checkout.CheckoutUnAuthAddressActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.checkout.payment.card.CardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopapp.ui.checkout.payment.PaymentActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ec1a2d2e6ae5cf3addf0ec8f67c34deb4a00cbea" />

    </application>

</manifest>