<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.client.shop">

    <application
        android:name=".ShopApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.client.shop.ui.product.ProductDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.account.SignInActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.account.SignUpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.gallery.GalleryActivity"
            android:theme="@style/AppTheme.Fullscreen" />

        <activity
            android:name=".ui.blog.ArticleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.policy.PolicyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.product.ProductListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.category.CategoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.blog.BlogActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.cart.CartActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.account.ForgotPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.order.list.OrderListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.details.OrderDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.account.PersonalInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.account.ChangePasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.account.AccountSettingsActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ec1a2d2e6ae5cf3addf0ec8f67c34deb4a00cbea" />

    </application>

</manifest>