<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shopify.api">

    <application>

        <activity
            android:name="com.shopify.ui.checkout.CheckoutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopify.ui.address.CheckoutAddressListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopify.ui.address.CheckoutAddressActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopify.ui.address.CheckoutUnAuthAddressActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopify.ui.payment.card.CardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopify.ui.payment.PaymentActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

    </application>

</manifest>
