<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shopify.api">

    <application>

        <activity
            android:name="com.shopify.ui.checkout.CheckoutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopify.ui.payment.card.CardPaymentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.cooltechworks.creditcarddesign.CardEditActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopify.ui.payment.android.AndroidPaymentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopify.ui.shipping.ShippingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.shopify.ui.address.AddressActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

    </application>

</manifest>
